<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Доска объявлений{% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <a href="{% url 'notice:notice_list' %}">
                Доска объявлений
            </a>
        </div>
        <nav>
            <a href="{% url 'notice:notice_list' %}">
                Главная страница
            </a>
        </nav>
    </header>

    <main>
        {% if messages %}
            <div>
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer>
        <div>&copy; 2026 Доска объявлений</div>
    </footer>
</body>
</html>