{% extends "notice/base.html" %}
{% block title %} {{ page_title }} {% endblock %}

{% block content %}
    <h1>Публичная доска объявлений</h1>

    <h2>Создать объявление</h2>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">
            Опубликовать объявление
        </button>
    </form>

    <h2>Список объявлений</h2>
    {% if notices %}
        {% for notice in notices %}
            <article>
                <h2>
                    <a href="{% url 'notice:notice_detail' notice.id %}">
                        {{ notice.title }}
                    </a>
                </h2>
                <div>
                    {{notice.author_name}}
                </div>
                <div>
                    {{notice.created_at|date:"d.m.Y H:i"}}
                </div>
            </article>
        {% endfor %}
    {% else %}
        <div>Пока нет ни одного объявления</div>
    {% endif %}
{% endblock %}